.rowWrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    "movieOne movieTwo movieThree"
    ;
}

.rowWrapper:nth-child(1) {
    grid-area: movieOne;
}

.rowWrapper:nth-child(2) {
    grid-area: movieTwo;
}

.rowWrapper:nth-child(3) {
    grid-area: movieThree;
}

.movieCard {
    border: 3px solid #dc3545;
    padding: 10px;
    margin: auto;
    margin-top: 5px;
    width: 50%
}

.movieCast {
    list-style: none;
    padding-left: 20px
}

.movieCast i {
    font-size: .9em;
    color: #dc3545
}

.delete {
    float: right;
    font-size: 1.5rem
}

.delete:hover {
    cursor: pointer;
    color: gray;
}
