#header {
    display: grid;
    background-color: lightgrey;
    grid-template-columns: 2fr 8fr 3fr;
    grid-template-areas: 
    "active . auth"
    ; 
}

#navListLeft {
    display: grid;
    grid-area: active;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "searchNew searchSaved"
    ;
}

#navListRight {
    display: grid;
    grid-area: auth;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
    "display in out"
    ;
}

.findMoviesLinkClass {
    margin: .5em;
    grid-area: searchNew;
}

.searchUserMoviesLinkClass {
    margin: .5em;
    grid-area: searchSaved;
}

.currentUserDisplayClass {
    margin: .5em;
    grid-area: display;
    font-size: 1em;
    padding: .2em;
    border: solid 2px rgba(59, 59, 59, 0.4);
    border-radius: 7%;
}

.signInLinkClass {
    grid-area: in;
    margin: .5em;
}

.logOutLinkClass {
    margin: .5em;
    grid-area: out;
}





